version: "3.9"
services:
  # === RABBITMQ ===#
  # rabbitmq:
  #   image: rabbitmq:3-management
  #   container_name: rabbitmq
  #   ports:
  #     - "5672:5672" # port untuk AMQP
  #     - "15672:15672" # port untuk dashboard management
  #   environment:
  #     RABBITMQ_DEFAULT_USER: sentracare
  #     RABBITMQ_DEFAULT_PASS: sentracare
  #   networks:
  #     - sentracare-net

  # === AUTH SERVICE ===
  auth-service:
    build: ./sentracare-be-auth
    ports:
      - "8002:8000" #http://localhost:8002
    environment:
      - DATABASE_URL=mysql+pymysql://auth_user:auth_pass@db-auth:3306/auth_db
      - AUTH_SECRET_KEY=super-long-random-secret
      - ACCESS_TOKEN_EXPIRE_MINUTES=60
      - AUTH_ISSUER=sentracare-auth
      - AUTH_AUDIENCE=sentracare-services
    depends_on:
      - db-auth
    restart: on-failure
    networks:
      - sentracare-net

  db-auth:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: auth_db
      MYSQL_USER: auth_user
      MYSQL_PASSWORD: auth_pass
    ports:
      - "3308:3306"
    volumes:
      - db_auth_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - sentracare-net

  phpmyadmin-auth:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    ports:
      - "8081:80" # phpMyAdmin bisa diakses di http://localhost:8081
    environment:
      PMA_HOST: db-auth
      PMA_PORT: 3306
      PMA_USER: auth_user
      PMA_PASSWORD: auth_pass
    depends_on:
      - db-auth
    networks:
      - sentracare-net

  # === PHARMACY SERVICE ===
  pharmacy-service:
    build: ./sentracare-be-pharmacy
    ports:
      - "8003:8000" #http://localhost:8003
    environment:
      - DATABASE_URL=mysql+pymysql://user:pass@db-pharmacy:3306/sentracare_pharmacy
      - AUTH_SECRET_KEY=super-long-random-secret
      - AUTH_ISSUER=sentracare-auth
      - AUTH_AUDIENCE=sentracare-services
    depends_on:
      - db-pharmacy
    restart: on-failure
    networks:
      - sentracare-net

  db-pharmacy:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: sentracare_pharmacy
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - "3306:3306"
    volumes:
      - db_pharmacy_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - sentracare-net

  phpmyadmin-pharmacy:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    ports:
      - "8082:80" # phpMyAdmin bisa diakses di http://localhost:8082
    environment:
      PMA_HOST: db-pharmacy
      PMA_PORT: 3306
      PMA_USER: user
      PMA_PASSWORD: pass
    depends_on:
      - db-pharmacy
    networks:
      - sentracare-net

  # === BOOKING SERVICE ===
  booking-service:
    build: ./sentracare-be-booking
    ports:
      - "8001:8000" #http://localhost:8001
    environment:
      - DATABASE_URL=mysql+pymysql://user:pass@db-booking:3306/sentracare_booking
      - AUTH_SECRET_KEY=super-long-random-secret
      - AUTH_ISSUER=sentracare-auth
      - AUTH_AUDIENCE=sentracare-services
      # - RABBITMQ_HOST= rabbitmq
      # - RABBITMQ_USER= sentracare
      # - RABBITMQ_PASS= sentracare
    depends_on:
      - db-booking
      # - rabbitmq
    restart: on-failure
    networks:
      - sentracare-net

  db-booking:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: sentracare_booking
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - "3307:3306"
    volumes:
      - db_booking_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - sentracare-net

  phpmyadmin-booking:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    ports:
      - "8080:80" # phpMyAdmin bisa diakses di http://localhost:8080
    environment:
      PMA_HOST: db-booking
      PMA_PORT: 3306
      PMA_USER: user
      PMA_PASSWORD: pass
    depends_on:
      - db-booking
    networks:
      - sentracare-net

  # === patient service ===
  patient-service:
    build: ./sentracare-be-patient
    ports:
      - "8004:8000" #http://localhost:8004
    environment:
      - DATABASE_URL=mysql+pymysql://user:pass@db-patient:3306/sentracare_patient
      - AUTH_SECRET_KEY=super-long-random-secret
      - AUTH_ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=60
      - AUTH_ISSUER=sentracare-auth
      - AUTH_AUDIENCE=sentracare-services
      # - RABBITMQ_HOST= rabbitmq
      # - RABBITMQ_USER= sentracare
      # - RABBITMQ_PASS= sentracare
    depends_on:
      - db-patient
      # - rabbitmq
    restart: on-failure
    networks:
      - sentracare-net

  db-patient:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: sentracare_patient
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - "3309:3306"
    volumes:
      - db_patient_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - sentracare-net

  phpmyadmin-patient:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    ports:
      - "8084:80" # phpMyAdmin bisa diakses di http://localhost:8084
    environment:
      PMA_HOST: db-patient
      PMA_PORT: 3306
      PMA_USER: user
      PMA_PASSWORD: pass
    depends_on:
      - db-patient
    networks:
      - sentracare-net

  # === insurance service ===
  insurance-service:
    build: ./sentracare-be-insurance
    ports:
      - "8005:8000" #http://localhost:8005
    environment:
      - DATABASE_URL=mysql+pymysql://user:pass@db-insurance:3306/sentracare_insurance
    depends_on:
      - db-insurance
    restart: on-failure
    networks:
      - sentracare-net

  db-insurance:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: sentracare_insurance
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - "3310:3306"
    volumes:
      - db_insurance_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - sentracare-net

  phpmyadmin-insurance:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    ports:
      - "8083:80" # phpMyAdmin bisa diakses di http://localhost:8083
    environment:
      PMA_HOST: db-insurance
      PMA_PORT: 3306
      PMA_USER: user
      PMA_PASSWORD: pass
    depends_on:
      - db-insurance
    networks:
      - sentracare-net

  nginx-gateway:
    build: ./sentracare-gateway
    ports:
      - "8088:80" # Gateway bisa diakses di http://localhost:8088
    depends_on:
      - auth-service
      - booking-service
      - pharmacy-service
      - patient-service
      - insurance-service
    networks:
      - sentracare-net

volumes:
  db_auth_data:
  db_pharmacy_data:
  db_booking_data:
  db_patient_data:
  db_insurance_data:

networks:
  sentracare-net:
    driver: bridge
